<% if @product.stock > 0 %>

<article>
  <% if flash[:error].present? %>
  <div id="error_explanation">
    <p><%= flash[:error] %></p>
  </div>
  <% end %>
  <label class="amount">
    <span></span>
  </label>
</article>

<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
data-description="Pay to Play"
data-amount= <%= @product.price*100 %>
data-locale="auto"></script>

<% else %>
  <button type="button" class="btn btn-danger" disabled>Sold out! </button>
<% end %>

