
<%= bootstrap_form_for [@product, @line_item] do |f| %>
  <div class="row">
     <div class = "col-xs-3">
      <%= f.number_field :quantity, min: 1, class: 'col-xs-3' %>
     </div>
     <div class = "col-xs-9">   
     </div>
  </div>   
  <div class="row">
     <div class = "col-xs-3">
      <%= f.submit "Add to cart", class: 'btn btn-danger btn-block'%>
     </div>
     <div class = "col-xs-9">   
     </div>
  </div>  
<% end %>


  
